.iLayout{margin:5px 15px;padding: 20px;}
.material-icons {vertical-align: middle;}
.txtFlightID {color:gray;}
.txtTotalDis {color: gray;font-size: 15px;margin-top: 5px;padding-left:20px}
.txtRoutes {color:gray; font-size: 15px;padding-left:20px}

.RoutesDetail{padding-left:20px}