<div class="container" style="padding: 50px;">  
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">From</label>
      <select class="custom-select">
        <option selected></option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
        <option value="4">D</option>
        <option value="5">E</option>
        <option value="6">F</option>
        <option value="7">G</option>
        <option value="8">H</option>
        <option value="9">I</option>     
      </select>
    
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">To</label>
      <select class="custom-select">
        <option selected></option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
        <option value="4">D</option>
        <option value="5">E</option>
        <option value="6">F</option>
        <option value="7">G</option>
        <option value="8">H</option>
        <option value="9">I</option>     
      </select>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Route Path</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Search</button>

  </div>


  <div class="row" style="margin:20px;">
    <div class="col-md-12 rounded bg-light">
     
      <i class="material-icons light" style="color: dodgerblue">
        airplanemode_active
      </i>
      Flight ID : XXXX
      <br>
      ToTal Distance XXX <br>

       Routes <br>
     
     <!-- <i class="material-icons light"> flight_takeoff</i> -->
      J
      <i class="material-icons light">trending_flat </i> 
      A 
      <i class="material-icons light">trending_flat </i> 
      H
      <i class="material-icons light">trending_flat </i> 
      G
      <i class="material-icons light">trending_flat </i> 
      C
      <!-- <i class="material-icons light">  flight_land  </i> -->
    </div>
  </div>
  <div class="row" style="margin:20px;">
    <div class="col-md-12 rounded bg-light">
     
      <i class="material-icons light" style="color: dodgerblue">
        airplanemode_active
      </i>
      Flight ID : XXXX
      <br>
      ToTal Distance XXX <br>

       Routes <br>
     
     <!-- <i class="material-icons light"> flight_takeoff</i> -->
      J
      <i class="material-icons light">trending_flat </i> 
      A 
      <i class="material-icons light">trending_flat </i> 
      H
      <i class="material-icons light">trending_flat </i> 
      G
      <i class="material-icons light">trending_flat </i> 
      C
      <!-- <i class="material-icons light">  flight_land  </i> -->
    </div>
  </div>
  <div class="row" style="margin:20px;">
    <div class="col-md-12 rounded bg-light">
     
      <i class="material-icons light" style="color: dodgerblue">
        airplanemode_active
      </i>
      Flight ID : XXXX
      <br>
      ToTal Distance XXX <br>

       Routes <br>
     
     <!-- <i class="material-icons light"> flight_takeoff</i> -->
      J
      <i class="material-icons light">trending_flat </i> 
      A 
      <i class="material-icons light">trending_flat </i> 
      H
      <i class="material-icons light">trending_flat </i> 
      G
      <i class="material-icons light">trending_flat </i> 
      C
      <!-- <i class="material-icons light">  flight_land  </i> -->
    </div>
  </div>
</div>
